@charset "utf-8";
/* CSS Document */
/* lato & intern font added */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/******* Fonts Face CSS Start **********/
@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Regular.eot');
	src: url('../fonts/PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
		url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
		url('../fonts/PlayfairDisplay-Regular.ttf') format('truetype'),
		url('../fonts/PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i'); */
/* lato font added */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Lato:wght@100;300;400;700;900&family=Playfair+Display:wght@400;500;600;700&display=swap'); */
/********* Fonts Face CSS End **********/
/******* Common Element CSS Start ******/
* { margin: 0px; padding: 0px;}
body { font-size:14px; font-family: 'Lato', sans-serif; padding: 0px 15px; -webkit-font-smoothing: subpixel-antialiased;}
.paddingb-none { padding-bottom: 0px !important;}
img { border: 0px; max-width: 100%;}
ul,ol { list-style: none;}
a { text-decoration: none; outline: none;}
a:focus, a:active, a:visited { outline: none; border: 0px;}
h1 { font-family: 'Playfair Display'; font-size: 64px; line-height: 75px; margin: 0px; text-transform: uppercase;}
h1 > a {color: #1e1e1e !important;}
h1 > a:hover { text-decoration: none !important;}
h2 { font-size: 28px; line-height: 40px; font-family: 'Playfair Display'; text-transform: uppercase; margin: 0px 0px 20px;}
h3 { font-size: 30px; line-height: 35px; letter-spacing: 4px; margin: 20px 0px 30px; color: #000;}
h4 { font-size: 18px; line-height: 20px; letter-spacing: 0.15em; font-weight: 200; margin: 0px;}
p { font-family: 'Lato', sans-serif; color: #000; font-weight: 300; font-size: 18px; line-height: 30px; margin-bottom: 30px;}
p > b { font-weight: normal; font-size: 20px;}
.saperator { height: 5px; position: relative; margin-bottom: 35px;}
.saperator:before { height: 100%; width: 50px; left: calc(50% - 25px); position: absolute; top: 0; display: block; background: rgb(200, 147, 2); content: "";}
.height-saperator { height: 35px;}
.section-title { text-align: center; padding: 0px 0px; overflow: hidden;}
.section-title h1 { color: #000; display: inline-block; padding: 0px 40px; position: relative;}
.section-title h1:before,
.section-title h1:after { position: absolute; width: 0px; height: 1px; background: rgba(31, 31, 31, 0.5); top: calc(50% - 0.5px); content: ""; z-index: 1; transition: all 1.5s linear; -webkit-transition: all 1.5s linear; transition-delay: 0.5s; -webkit-transition-delay: 0.5s;}
.section-title h1:before { left: 100%; }
.section-title h1:after { right: 100%; }
.section-title.animated h1:after,
.section-title.animated h1:before{ width: 585px;}
.common-section { padding: 70px 0px; text-align: center;}
.common-section p { padding: 0px 30px;}
.common-section p:last-child { margin-bottom: 0px;}
.theme-btn { display: inline-block; padding: 15px 50px; border: 1px solid rgb(31, 31, 31); color: rgb(31, 31, 31); text-transform: capitalize; font-size: 18px; line-height: 20px; font-weight: 200; margin-top: 40px; transition-duration: 0.3s;}
.theme-btn:hover { background: rgb(31, 31, 31) !important; color: #fff; text-decoration: none;}
.theme-btn.dark-btn { background: rgb(31, 31, 31); color: #fff; border-color: rgb(31, 31, 31); font-weight: normal;}
.theme-btn.dark-btn:hover { background: rgb(200, 147, 2) !important; border-color: rgb(200, 147, 2); }
/******* Common Element CSS End *********/
/******* Header Section CSS Start *******/
header { padding: 20px 0px; }
header a { color: #fff !important; text-transform: capitalize; font-size: 18px; line-height: 25px; font-weight: 300; display: inline-block;}
.call-block { text-align: left;}
.call-block > a { padding: 10px 10px 10px 50px; background: url(../images/Phone-Icon.png) no-repeat top 5px left 5px / 35px auto; display: inline-block;}
.logo-block { text-align: center; }
.logo-block a { max-width: 240px; display: inline-block;}
.menu-block { text-align: right; }
.menu-block p { font-size: 18px; line-height: 25px; font-weight: 300; display: inline-block; margin: 0px 40px 0px 10px; color: #fff; vertical-align: middle;}
.menu-block > a img { width: 40px; height: 40px;}
/* .menu-block > a { width: 35px; height: 35px; background: url(../images/Menu-Icon.png) no-repeat top right / 35px auto; display: inline-block;} */
.header-social-icons { margin: 0px -5px; display: inline-flex; display:-webkit-inline-flex; align-items: center; -webkit-align-items: center;}
.header-social-icons li { margin:0px 5px; }
.header-social-icons img { width: 30px; }
.call-block > a:hover, 
.call-block > a:focus,
.call-block > a:active,
.menu-block > a:hover,
.menu-block > a:focus,
.menu-block > a:active { text-decoration: none;}
.menu-box { background: rgba(31, 31, 31, 0.3); position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: none; z-index: 1000; opacity: 0;}
.menu-box.open { opacity: 1; display: block;}
.menu-box .main-menu { background: #1f1f1f; position: absolute; top: auto; bottom: 100%; right: 0px; padding: 40px; opacity: 0; bottom: 100%;}
.menu-box.open .main-menu { opacity: 1; bottom: auto; top: 0;}
.menu-box .main-menu a.close-menu { position: absolute; right: 15px; top: 15px; display: block; height: 30px; width: 30px; background: url('../images/menu-close.png') no-repeat center center / 25px auto; z-index: 100;}
.menu-box .main-menu ul { list-style: none; text-align: center; width: 280px; background: rgb(31, 31, 31);}
.menu-box .main-menu ul > li { position: relative;}
.menu-box .main-menu ul > li > a { display: block;  color: #a0a09f !important; font-weight: 200; text-transform: uppercase; letter-spacing: 4px; font-size: 16px; line-height: 68px; }
.menu-box .main-menu ul > li > a:hover { color: #fff !important; text-decoration: none;}
.menu-box .main-menu ul > li.active > a { color: rgb(200, 147, 2) !important;}
.dropdown-list > ul { position: absolute; right: 100%; display: none; top: 0;}
.dropdown-list:hover > ul { display: block;}
.menu-desc { text-align:  center; margin: 35px 0px;}
.menu-desc img { height: 35px; display: inline-block;}
.menu-desc a { color: #fff; font-size: 16px; letter-spacing: 3px; line-height: 20px; text-transform: uppercase; border: 1px solid transparent; font-weight: 200; padding: 10px 40px; display: inline-block; margin-top: 40px;}
.menu-desc a:hover { border-color: #fff; text-decoration: none;}
/******* Header Section CSS End *********/
/******* Banner section CSS Start *******/
.video-banner { margin-bottom: 15px;}
.video-banner > div:first-child { position: relative;}
.video-banner > div:first-child:before { position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: block; content: ""; background: rgba(31, 31, 31, 0.85) url(../images/Video-Overlay.png) repeat; background-size: 6px auto;}
.main-banner video { width: 100%; position: relative;}
.banner-desc { padding: 200px 0px 150px; text-align: center; color: #fff;}
.banner-desc h1 span { color: rgb(200, 147, 2); font-size: 25px; line-height: 30px; margin-top: 10px; display: block; text-transform: uppercase; font-family: 'Lato', sans-serif; font-weight: 300; letter-spacing: 3px;}
.membership-selection button[type="submit"],
.banner-desc a { font-size: 18px; line-height: 20px; padding: 15px 50px;  margin-top: 120px; color: #fff; background: rgb(31, 31, 31); display: inline-block; font-family: 'Lato', sans-serif; font-weight: 300; transition-duration: 0.3s; -webkit-transition-duuration: 0.3s; border: none !important;}
.membership-selection button[type="submit"]:hover,
.banner-desc a:hover { color: #000; background: rgba(200, 147, 2, 1); text-decoration: none; }
.page-banner { position: relative; height: 395px; background-size: cover !important; background-position: center center !important; background-repeat: no-repeat !important;}
.page-banner:before { position: absolute; width: 100%; height: 100%; display: block; background: rgba(31, 31, 31, 0.9); content: ""; }
.page-banner .banner-desc { text-align: center;  padding: 15px 0px; background: rgba(31, 31, 31, 0.65); position: absolute; width: 100%; bottom: 0px; left: 0px; display: block; color: #fff; text-transform: uppercase;}
.about-banner { background-image: url(../images/about-banner.jpg);}
.coverage-banner { background-image: url(../images/coverage-banner.jpg);}
.contact-banner { background-image: url(../images/contact-banner.jpg);}
.service-overview-banner { background-image: url(../images/service-overview-banner.jpg);}
.service-development-banner { background-image: url(../images/service-Development-banner.jpg);}
.service-management-banner { background-image: url(../images/service-Management-banner.jpg);}
.service-sourcing-banner { background-image: url(../images/service-Sourcing-banner.jpg);}
/******* Banner section CSS End *********/
/******* Middle section CSS Start ******/
/* ---------- login block sections ------------ */
.login-block {padding: 150px 0px; text-align: center;}
.login-block span { color:#fff; font-size: 25px; line-height: 30px; display: block; font-weight: 300; letter-spacing: 3px;}
.login-block form { margin: 30px 0px 70px;}
.login-block form .form-control {}
.login-block form input { width: 100%; padding-left: 40px; border-radius: 0px; border: none; box-shadow: none !important; height: auto; font-size: 16px; line-height: 22px; font-weight: 200; color: #ffffff;}
.login-block form input[type="email"] { background: rgba(200, 147, 2, 0.3) url(../images/email-field-icon.png) no-repeat left 10px center / 20px auto;}
.login-block form input[type="password"] { background: rgba(200, 147, 2, 0.3) url(../images/pwd-field-icon.png) no-repeat left 10px center / 20px auto;;}
.login-block form button[type="submit"] { width: 100%; border-radius: 0px; box-shadow: 0px; color: rgb(200, 147, 2); font-size: 16px; line-height: 20px; padding: 10px; background: rgb(31, 31, 31); border: none; font-weight: 200; transition-duration: 0.5s;}
.login-block form button[type="submit"]:hover { color: rgb(31, 31, 31); background: rgb(200, 147, 2);}
.login-block a { color: #a0a09f; font-size: 16px; line-height: 20px; font-weight: 200;}
.login-block a:hover { color: #fff; text-decoration: none; }
.login-block .form-control::-webkit-input-placeholder { color: #a0a09f;}
.login-block .form-control::-moz-placeholder { color: #a0a09f;}
/* ---------- dark color sections ------------ */
.dark-section { background: rgb(31, 31, 31); margin-bottom: 15px; color: #fff;}
.dark-section .section-title h1 { color: #fff;}
.dark-section .section-title h1:before,
.dark-section .section-title h1:after { background: #fff !important;}
.dark-section p { color: #fff;}
/* ---------- form sections ------------ */
.signup-section { position: relative; margin-bottom: 15px; background: url(../images/signup-bg.jpg) no-repeat center center/ cover; z-index: 1;}
.signup-section:before { position: absolute; height: 100%; width: 100%; background: rgba(218, 161, 3, 0.8); display: block; content: ""; top: 0; left: 0; z-index: -1;}
.signup-form { text-align: center; margin-top: 40px;}
.signup-form form { }
.signup-form .form-group input,
.signup-form .form-group textarea { width: 100%; background: rgba(31, 31, 31, 0.5); border-radius: 0px; border:  none; color: #fff; resize: none; font-weight: 200; box-shadow: none; padding: 10px; height: 40px;}
.signup-form .form-group textarea { height: auto;}
.signup-form button[type="submit"] { border: none ; width: 100%; background: rgb(31, 31, 31); border-radius: 0px; color: #fff; text-align: center; font-size: 18px; line-height: 28px; font-weight: 200;}
.signup-form .form-control::-webkit-input-placeholder { color: rgb(200, 147, 2);}
.signup-form .form-control::-moz-placeholder { color: rgb(200, 147, 2);}
/* ---------- service sections ------------ */
.services-block { text-align: center; background-size: cover; background-position: center center; background-repeat: no-repeat; padding: 150px 15px; position: relative; display: block; margin-bottom: 15px; z-index: 0;}
.services-block:hover { text-decoration: none;}
.services-block:before { position: absolute; top: 0; left: 0; display: block; width: 100%; height: 100%; content: ""; background: rgba(31, 31, 31, 0.9); z-index: -1; transition: all 0.3s ease-in-out;}
.services-block p { color: #fff; text-transform: uppercase; font-size: 25px; line-height: 30px; letter-spacing: 4px; margin-bottom: 15px; display: block;}
.services-block img { width: 48px; backface-visibility: hidden; -webkit-backface-visibility: hidden; position: relative; z-index: 10000;}
.services-block.management { background-image: url(../images/services-Management.jpg);}
.services-block.development { background-image: url(../images/services-Development.jpg);}
.services-block.sourcing { background-image: url(../images/services-Sourcing.jpg);}
/* ---------- management sections ------------ */
.management-box { padding: 20px 45px;}
.management-box img { width: 41px;}
.management-box h4 { font-size: 20px; line-height: 30px; margin: 10px 0px 25px;}
.management-box p { font-size: 16px; line-height: 25px;}
/* ---------- more info sections ------------ */
.more-info-section { text-align: center; padding: 130px 0px; color: rgb(31, 31, 31);}
/* ---------- location sections ------------ */
.location-section { margin-bottom: 10px; height: 450px;}
/* ---------- service list sections ------------ */
.service-list-block p { padding: 0px; margin: 25px 0px; display: block; font-size: 16px; font-weight: normal;}
.service-list-block p > span { padding: 0px 0px 0px 15px; position: relative;}
.service-list-block p > span:before { position: absolute; top: 10px; left: 0; width: 5px; height: 2px; background: #c89302; content: ""; display: block;}
/* ---------- coverage map sections ------------ */
.coverage-map-block { padding-top: 30px;}
.coverage-image { position: relative;}
.coverage-image img { width: 80%;}
.coverage-image .coverage-location-box { position: absolute; display: block; width: 25%; z-index: 100; text-align: center;}
.coverage-image .coverage-location-box h3 { text-transform: uppercase; font-weight: 200; font-size: 25px; margin: 0px 0px 15px;}
.coverage-image .coverage-location-box img { width: 28%;}
.coverage-image .coverage-location-box.london {left: 10%; bottom: 17%}
.coverage-image .coverage-location-box.lincolnshire { right: 7%; bottom: 42%;}
/* ---------- contact list sections ------------ */
.contact-list-block h2 { letter-spacing: 0px; font-family: 'Lato', sans-serif;text-transform: none; margin-bottom: 30px;}
.contact-list-block figure { margin-bottom: 10px;}
.contact-list-block figure img { width: 40px;}
.contact-list-block p { padding: 0px; font-size: 20px; line-height: 30px; margin-bottom: 20px !important;}
.contact-list-block p a { color: #000;}
/* ---------- Membership sections ------------ */
.membership-block { position: relative; border: 1px solid rgb(204, 204, 204); background: #fff; padding: 30px 10px; margin-bottom: 15px;}
.membership-block:hover,
.services-block:hover,
.membership-block.selected { box-shadow: 0 5px 2px 0 rgba(0, 0, 0, 0.1);}
.membership-block h1 { color: #c89302; font-size: 72px; line-height: 75px; font-family: 'Lato', sans-serif; font-weight: 300;}
.membership-block h3 { font-size: 25px; line-height: 30px; margin: 30px auto 20px;}
.membership-block p { margin: 40px auto 10px;}
.membership-block img { max-width: 60px;}
.membership-block .jcf-radio { border-radius: 50%; border: none !important; background: #c89302;  transform: scale(1.3); -webkit-transform: scale(1.3); cursor: pointer !important;}
.membership-block .jcf-radio:hover { cursor: pointer; }
.membership-block .jcf-radio > span { background: transparent; border-radius: 50%; border: 7px solid #1e1e1e !important; top: 0px; left: 0px; height: 100%; width: 100%;}
.membership-selection button[type="submit"] { margin-top: 30px; font-weight: 300;}
.offer-block { position: absolute; top: 10px; left: 10px; display: none; text-align: left; color: #fff; font-size: 16px; line-height: 18px; text-transform: uppercase;}
.offer-active .offer-block { display: block;}
.offer-active:before { display: block; position: absolute; left: 0; top: 0; border:45px solid #c89302; border-right-color: transparent; border-bottom-color: transparent; content: "";}
/******** Middle section CSS End *******/
/***** Bottom section CSS Start *******/
footer { background: rgb(31, 31, 31); padding: 40px 0px; color: #fff; font-size: 15px; line-height: 23px;}
footer a { color: #fff;}
.foot-contact { text-align: left; font-weight: 200; padding-left: 70px; padding-bottom: 15px; background: url('../images/Footer-Icon-1.png') no-repeat top 0px left 0px / 55px auto;}
.foot-contact a:hover { color: #fff; }
.foot-address { text-align: right; font-weight: 200; padding-right: 55px; padding-bottom: 15px; background: url('../images/Footer-Icon-2.png') no-repeat top 0px right 0px / 55px auto;}
.siteinfo { color: #605e5e; font-size: 10px; line-height: 15px; }
.siteinfo a { color: #605e5e; }
.siteinfo a:hover { color: rgb(200, 147, 2);}
.copyright-block { text-align: left; }
.powered-block { text-align: right; }
/****** Bottom section CSS End *******/
/****** Parallex section CSS Start *******/
.bg-parallex { background-size: cover; background-attachment: fixed; position: relative;}
/****** Parallex section CSS End *******/
/****** Subscribe section CSS Start *******/
.plan-block { background: rgba(31, 31, 31, 0.5); color: rgb(200, 147, 2); padding: 15px 5px; border: 8px double rgb(200, 147, 2);}
.plan-block h3 { letter-spacing: 5px; margin: 0px; text-transform: uppercase; color: rgb(200, 147, 2);}
.plan-block h1 { padding-bottom: 10px; border-bottom: 1px dashed rgb(200, 147, 2);}
.plan-block p { font-size: 14px; color: rgb(200, 147, 2); margin-bottom: 10px;}
/****** Subscribe section CSS End *******/
/* =================================================================== Portal Pages CSS Start ================================================================= */
/******* Common Element CSS Start ******/
.portal-data-wrap { padding: 0px 35px;}
.portal-heading-bar { padding: 35px 45px; background: rgb(31, 31, 31); color: #fff; text-align: left; overflow: hidden;}
.portal-heading-bar img { display: inline-block; margin-right: 20px; width: 43px;}
.portal-heading-bar h2 { display: inline-block; line-height: 50px; margin: 0px; font-family: 'Lato', sans-serif; font-weight: 200; letter-spacing: 4px; font-size: 24px;}
.portal-heading-bar.lite { background: transparent; color: #1f1f1f;}
.portal-footer-bar { /* background: rgb(31, 31, 31); padding: 60px 40px 30px; */ text-align: center; margin-bottom: 15px;}
.portal-footer-bar > a { padding: 12px 30px; background: rgb(31, 31, 31); text-decoration: underline; color: rgb(160, 160, 159); display: inline-block; font-size: 16px; line-height: 20px; font-weight: 200;}
.portal-footer-bar > a:hover { color: #fff;}
.header-select { text-align: right;}
.header-select .jcf-select { text-align: right; max-width: 250px; margin-top: 10px;}
.custom-select { width: 100%; line-height: 30px; height: 30px; border: none; outline: none !important; box-shadow: none;}
.custom-select option { padding: 5px 10px;}
/******* Common Element CSS End ******/
/******* Header Section CSS Start *******/
.template-portal .call-block > a { background-image: url(../images/bell-icon.png);}
.template-portal .menu-block > a { text-transform: capitalize;}
.template-portal .menu-box .main-menu { background: #fff;}
.template-portal .menu-box .main-menu ul { list-style: none; text-align: center; width: 280px; background: rgb(255, 255, 255);}
.template-portal .menu-box .main-menu ul > li > a { color: #1f1f1f !important;}
.template-portal .menu-box .main-menu ul > li.active > a,
.template-portal .menu-box .main-menu ul > li > a:hover { color: rgb(200, 147, 2) !important;}
.template-portal .menu-desc a { color: #1f1f1f !important;}
.template-portal .menu-desc a:hover { border-color: rgb(31, 31, 31);}
.template-portal .menu-box .main-menu a.close-menu { background-image: url(../images/white-menu-close.png);}
.logout-wrap { text-align: right;}
.logout-wrap > a { padding: 0px 50px 0px 5px; display: inline-block; text-transform: capitalize; font-size: 14px; text-decoration: none !important;}
.logout-wrap > a:hover { text-decoration: none; color: rgb(200, 147, 2) !important;}
.logout-wrap > a > span { color: rgb(200, 147, 2); margin-right: 5px;}
/******* Header Section CSS End *********/
/******* Banner section CSS Start *******/
.template-portal .page-banner { background-image: url(../images/portal-banner.jpg);}
.template-portal .page-banner:before { background: rgba(31, 31, 31, 0.85);}
.template-portal .page-banner .banner-desc { background: rgba(200, 147, 2, 0.65);}
/******* Middle section CSS Start ******/
/* ---------- portal sevices sections ------------ */
.services-block.properties { background-image: url(../images/portal-property.jpg);}
.services-block.invoices { background-image: url(../images/portal-invoices.jpg);}
.services-block.notifications { background-image: url(../images/portal-notification.jpg);}
/* ---------- portal property sections ------------ */
.peoperty-block { text-align: center;}
.peoperty-block .row { display: flex; display: -webkit-flex; flex-wrap: wrap; -webkit-flex-wrap: wrap; } 
.peoperty-block .row .col-sm-6  { margin-bottom: 16px;} 
.peoperty-block .col-sm-6 > div { height: 100%; border: 1px solid rgb(204, 204, 204); padding: 20px 30px;}
.peoperty-block a:hover { text-decoration: none;}
.property-box h3 { margin: 10px 0px 5px; font-weight: normal; font-size: 25px; line-height: 30px;}
.property-box p { padding: 0px;}
.proprty-action { color: #c89302; font-size: 9px; line-height: 15px; letter-spacing: 2px; margin: 10px 0px; font-weight: 200;}
.proprty-action a {  color: #1e1e1e; }
.proprty-action a:hover { color: #c89302;}
.property-insert-box { padding-top: 70px !important; padding-bottom: 70px !important;}
.property-insert-box img { max-width: 40px;}
.property-insert-box h5 { margin: 10px 0px; letter-spacing: 3px; font-weight: 200;; font-size: 18px; line-height: 20px; color: #1e1e1e;}
.property-insert-box span { display: block; font-size: 9px; line-height: 15px; letter-spacing: 2px; margin: 5px 0px; font-weight: 200;}
.property-sidebar {padding: 0px 40px 40px; text-align: center;  color: #fff; background: rgb(31, 31, 31); margin-bottom: 15px;}
.property-sidebar .portal-heading-bar { text-align: center; padding-left: 0px; padding-right: 0px; padding-bottom: 20px;}
.property-sidebar figure { margin-bottom: 35px;}
.property-sidebar figure img { width: 48px; }
.property-sidebar form { padding: 0px 30px;}
.property-sidebar form .form-group { margin-bottom: 28px;}
.property-sidebar label { font-size: 15px; text-transform: uppercase; font-weight: 200; letter-spacing: 1px; line-height: 30px; margin-bottom: 8px;}
.property-sidebar input { border: none; border-radius: 0px; box-shadow: none !important; background: #fff; height: 30px; font-size: 16px; line-height: 30px; padding: 0px 10px; font-weight: 200;}
.property-sidebar form .jcf-select { text-align: left;}
.property-sidebar .submit-setting { text-align: center; margin-top: 30px;}
.property-sidebar .submit-setting button { color: #fff; border-color: #fff;}
/* ---------- portal invoice sections ------------ */
.portal-invoice-block { margin-top: 15px;}
.portal-invoice-block .col-sm-6:nth-child(3n+1) { clear: both;}
.invoice-box { border: 2px solid #cdcdcd; text-align: center; text-transform: uppercase; font-size: 14px; line-height: 30px; font-weight: 200; position: relative; margin-bottom: 15px;}
.invoice-box:before { position: absolute; top: 0; left: 0; display: block; width: 50%; height: 100%; background: #1e1e1e; content: ""; z-index: -1;}
.invoice-title { color: #fff; letter-spacing: 2px;}
.invoice-box ul { list-style: none; margin: 0px;}
.invoice-box ul li { border-bottom: 1px solid #f4f4f4; overflow: hidden;}
.invoice-box ul li > div {padding: 8px;}
.invoice-box ul li:last-child { border: none;}
.invoice-payment a { display: inline-block; padding: 0px 25px; color: #fff; background: rgb(200, 147, 1);}
.invoice-payment a:hover { background: #1e1e1e; text-decoration: none;}
.invoice-action a { display: inline-block; margin: 0px 7px;}
.invoice-action a img { max-width: 20px;}
/* ---------- portal settings sections ------------ */
.ac-detail-block { background: rgb(31, 31, 31); border: 1px solid rgb(207, 207, 207);  margin-bottom: 15px;}
.pr-detail-block { border: 1px solid rgb(207, 207, 207);  margin-bottom: 15px;}
.settings-form { padding: 20px 45px; color: #1e1e1e;}
.settings-form form { text-align: left; padding: 15px 0px 25px;}
.settings-form form .form-group { margin-bottom: 28px;}
.settings-form form label { font-size: 15px; text-transform: uppercase; font-weight: 200; letter-spacing: 1px; line-height: 30px; margin-bottom: 0px;}
.settings-form form input { border: none; border-radius: 0px; box-shadow: none !important; background: #fff; height: 30px; font-size: 16px; line-height: 30px; padding: 0px 10px; font-weight: 200;}
.submit-setting { text-align: right;}
.submit-setting button { padding: 8px 35px; text-transform: uppercase; border: 1px solid #1e1e1e; background: transparent !important; border-radius: 0px; letter-spacing: 2px; font-size: 16px; line-height: 20px; font-weight: 200; transition-duration: 0.5s;}
.submit-setting button:hover { border-color: #c89302 !important; color: #c89302 !important; }
.ac-detail-block .settings-form label { color: #fff;}
.ac-detail-block .submit-setting button { color: #fff; border-color: #fff;}
.pr-detail-block .settings-form form input { background: #1e1e1e; color: #fff;}
.pr-detail-block .settings-form form textarea { background: #1e1e1e; color: #fff;}
.pr-detail-block .settings-form form .jcf-select { background: #1e1e1e; color: #fff;}
.pr-detail-block .custom-select { color: #fff; background: rgb(31, 31, 31) !important; border: 1px solid #1e1e1e !important;}
/* ---------- notification sections ------------ */
.notifications-list { list-style: none; margin-bottom: 0px;}
.notifications-list li { position: relative; padding: 25px 50px; font-weight: 200; text-align: left;}
.notifications-list li.new:before { position: absolute; top: 0; left: 0px; content: ""; display: block; border: 25px solid #c89302; border-bottom-color: transparent; border-right-color: transparent;}
.notifications-list li.new:after { position: absolute; top: 3px; left: 5px; content: "NEW"; color: #fff; display: block; font-size: 12px;}
.notifications-list li:nth-child(even) { background: rgb(227, 227, 227);}
.notifications-list li span { display: block; margin-top: 5px;}
.notifications-list li .n-date { font-size: 12px; line-height: 15px; color: #c89302;}
.notifications-list li .n-title { font-size: 15px; line-height: 20px; color: #1f1f1f; letter-spacing: 3px; text-transform: uppercase;}
.notifications-list li .n-title b { font-weight: normal;}
.notifications-list li .n-desc { font-size: 16px; line-height: 25px; color: #1f1f1f;}
/*document list section*/
.notifications-list.documents-list li { padding: 12px 15px; } 
.documents-list .document-inner-block { position: relative; display: flex; display: -webkit-flex; display: -moz-flex; align-items: center; -webkit-align-items: center; -moz-align-items: center; justify-content: space-between; -webkit-justify-content: space-between; -moz-justify-content: space-between; } 
.documents-list .left-doc-content  		{ width: 50%; display: flex; display: -webkit-flex; display: -moz-flex; align-items: center; -webkit-align-items: center; -moz-align-items: center; } 
.documents-list .left-doc-content img 	{ margin-right: 14px; max-width: 38px; } 
.documents-list .left-doc-content p 	{ padding: 0; } 
.documents-list .right-doc-content 							{ text-align: right; width: 50%; }
.document-inner-block a 				{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: block; } 
.documents-list .right-doc-content span 	{ display: inline-block; }
.documents-list .right-doc-content img 		{ margin-left: 6px; }
/* ---------- Membership sections ------------ */
.membership-block { overflow: hidden; position: relative; border: 1px solid rgb(204, 204, 204); background: #fff; padding: 30px 10px; margin-bottom: 15px;}
.membership-block h1 { color: #c89302; font-size: 72px; line-height: 75px; font-family: 'Lato', sans-serif; font-weight: 300;}
.membership-block h3 { font-size: 25px; line-height: 30px; margin: 30px auto 20px;}
.membership-block p { margin: 40px auto 10px;}
.membership-block img { max-width: 60px;}
.membership-block .jcf-radio { border-radius: 50%; border: none !important; background: #c89302;  transform: scale(1.3); -webkit-transform: scale(1.3); cursor: pointer !important;}
.membership-block .jcf-radio:hover { cursor: pointer; }
.membership-block .jcf-radio > span { background: transparent; border-radius: 50%; border: 7px solid #1e1e1e !important; top: 0px; left: 0px; height: 100%; width: 100%;}
.membership-selection button[type="submit"] { margin-top: 30px; }
.offer-block { position: absolute; top: 10px; left: 10px; display: none; text-align: left; color: #fff; font-size: 16px; line-height: 18px; text-transform: uppercase;}
.offer-active .offer-block { display: block;}
.offer-active:before { display: block; position: absolute; left: 0; top: 0; border: 52px solid #c89302; border-right-color: transparent; border-bottom-color: transparent; content: "";}
.portal-side:after { display: block; position: absolute; left: 0; top: 0; height: 100%; width: 100%; background: rgba(255, 255, 255, 0.8); border-right-color: transparent; border-bottom-color: transparent; content: "";}
.portal-side.active-package:after { background: url(../images/active-package-bg.png) no-repeat top left / 100% 100%; z-index: 1;} 
.my-package-box { position: absolute; z-index: 2; color: #fff; bottom: 0px; left: 25px; text-align: left; display: none;}
.active-package .my-package-box { display: block; }
.my-package-box h2 {font-family: 'Lato', sans-serif; font-size: 34px; line-height: 40px; margin: 0px 0px 25px; font-weight: 300; }
.my-package-box .saperator:before { left: 0; background: #fff; }
/******* Middle section CSS End ******/


/* 28-01-2022 css start */
.d-flex                                 { display: flex; flex-wrap: wrap; }
.text-center                            { text-align: center; }
.mb-10                                  { margin-bottom: 10px; }
.mb-20                                  { margin-bottom: 20px; }
.latest-properties-wrapper              { background-color: #F4F4F3; }
.latest-properties-wrapper .container > .row         { display: flex; flex-wrap: wrap; }
.latest-properties-wrapper .card        { height: 100%; display: flex; flex-direction: column; }
.card                                   { background-color: #fff; padding: 10px; box-shadow: 0px 4px 32px 0px #00000014; }
.latest-properties-wrapper .card-text   { text-align: left; margin: 0 0px 24px; }
.latest-properties-wrapper .card-text p                         { color: #1f1f1f;}
.latest-properties-wrapper .card-text p:first-child             { margin-bottom: 16px; font-size: 20px; line-height: 30px; font-weight: 400; font-family: 'Playfair Display', serif; }
.latest-properties-wrapper .card-text p,.slider-title-wrap > div a { padding: 0px; font-size: 18px; line-height: 21.6px; font-weight: 700; font-family: 'Lato', sans-serif; }
.latest-properties-wrapper .card-body   { padding: 20px; display: flex; flex-direction: column; flex: 1; }
.latest-properties-wrapper .property-type-box                   { display: flex; justify-content: space-between; text-align: left;  margin-top: auto; }
.latest-properties-wrapper .property-type-box p                 { margin-bottom: 20px; padding: 0px; font-size: 16px; line-height: 19.2px; font-weight: 400; font-family: 'Lato', sans-serif; color: #999999; }
.latest-properties-wrapper .property-type-box p:first-child     { padding-right: 5px;}
.latest-properties-wrapper .property-type-box p:last-child      { padding-left: 5px;}
.latest-properties-wrapper .property-type-box                   { border-bottom: 1px solid #706A5B; }
.latest-properties-wrapper .card-icon-box                       { padding: 17px 0px 1px; } 
.latest-properties-wrapper .card-icon-box .icon-holder          { font-size: 18px; line-height: 21.6px; font-weight: 600; }
.latest-properties-wrapper .card-icon-box .icon-holder figure        { margin-right: 10px; }

/* .latest-properties-wrapper .card-icon-box .d-flex:nth-child(2)  { justify-content: center; }
.latest-properties-wrapper .card-icon-box .d-flex:last-child    { justify-content: end;  } */
.latest-properties-wrapper a.theme-btn  {  margin-top: 80px;  background-color: #1F1F1F; color: #fff ; border: none; }
.latest-properties-wrapper a.theme-btn:focus  { text-decoration: none ;}
.latest-properties-wrapper a.theme-btn:hover,.amenities-wrap a.theme-btn:hover    { color: #1F1F1F ; background: rgba(200, 147, 2, 1) !important; border: none; }
/* 28-01-2022 css ends */

/* 31-01-2022 css start */
.property-page-wrapper                  { max-width: 90%; margin: 0 auto; }
.filter-wrapper                         { padding: 32px 24px 24px; background-color: #F4F4F3; }
/* .filter-wrapper .title                  { font-size: 24px; line-height: 28.5px; } */
.property-page-wrapper .latest-properties-wrapper  { background-color: #fff;  }
.property-page-wrapper > .row > .col-sm-3           { position: sticky; top: 15px; }
.title                                  { font-size: 24px; line-height: 28.8px; font-family: 'Lato', sans-serif; }
/* 31-01-2022 css ends */


/* 01-02-2022 css start */
/* latest property page */
.filter-wrapper                         { text-align: left; }
.filter-wrapper .filter-title,.property-details-counter-wrap .counter-title,.property-detail-box p:first-child   { margin-bottom: 24px; padding: 0px; color: #1F1F1F; }
.filter-wrapper .panel                  { margin-bottom: 24px; border: none; font-family: 'Lato', sans-serif; }
.filter-wrapper .panel-heading .accordion-toggle:after  { font-family: "FontAwesome"; content: "\f0d7"; float: right; color: grey;}
.filter-wrapper .panel-heading a.active:after    { content: "\f0d8"; }
.filter-wrapper .panel-title                                        { text-align: left; line-height: 24px; letter-spacing: 0.2px;  }
.filter-wrapper .panel .panel-title a                { display: block; padding: 12px 16px; text-decoration: none; font-weight: 500; }
.filter-wrapper .panel-default > .panel-heading                     { padding: 0; background-color: #fff; color: #1F1F1F; border: none; }
.filter-wrapper .panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group    { border-top: 8px solid #F4F4F3;  }
.filter-wrapper .panel ul li            { margin-bottom: 15px; font-size: 16px; line-height: 24px; text-align: left; font-family: 'Inter', sans-serif; font-weight: 400; }
.filter-wrapper .panel ul,.filter-wrapper .panel ul li:last-child { margin-bottom: 0px; }
.filter-wrapper .panel li a             { padding: 8px 13px; color : #A8A7A4;  }
.filter-wrapper .panel ul li a:hover    { color: #CA9401; }
.filter-wrapper .panel ul label         { color: #A8A7A4; font-weight: 400; margin-bottom: 0px; display: flex; align-items: center; }
.filter-wrapper input[type="radio"], .filter-wrapper input[type="checkbox"]     { margin-right: 5px; }
.filter-wrapper input[type="checkbox"]:checked              { background-color: #CA9401; }
.latest-properties-wrapper > .row > .col-sm-4               { margin-bottom: 16px; }
.property-page-wrapper .card            { display: flex; flex-wrap: wrap; height: 100%;   }
.property-page-wrapper .latest-properties-wrapper a.theme-btn       { margin-top: 64px;  }
.filter-wrapper .panel ul label.jcf-label-active        { color: #CA9401; }
.jcf-label-active  .jcf-focus *                { border-color: #CA9401 !important; }
:root .jcf-checkbox span                {  border-color: #CA9401; } 
.jcf-checkbox span                      { height: 6px !important; width: 10px !important;  }
.filter-wrapper .panel ul label.jcf-label-active .jcf-checkbox {  border-color: #CA9401; } 
.filter-wrapper .panel ul label .jcf-checkbox { margin-right: 13px;  } 
.irs--flat .irs-bar,.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single,.irs--flat .irs-handle>i:first-child,.irs--flat .irs-handle>i:first-child                     { background-color: #CA9401 !important;  }


/* property detail page started */
section.property-details-page-wrapper           { padding: 89px 0px 120px; }
.property-details-page-wrapper .title-box       { padding: 37px 0px 80px; }
.property-details-page-wrapper .title-box h1,.amenities-wrap h1    { margin: 0px; font-size: 40px; line-height: 48px; font-family: 'Lato', sans-serif; font-weight: 700;  }
.amenities-wrap h1                              { font-family: "Playfair Display"; font-weight: 500;}
.property-details-page-wrapper .title-box h3    { margin-top: 0px; margin-bottom: 24px; letter-spacing: 0px; font-size: 32px; line-height: 43px; font-family: 'Playfair Display'; font-weight: 500;  }
.property-details-page-wrapper .property-details-counter-wrap .counter-title  { margin-bottom: 4px; color: #CA9401; font-weight: 500; }
.property-details-counter-wrap .circle-box      { margin-right: 20px; border-radius: 30px; height: 64px; width: 64px; background-color: #CA94011A; display: inline-block; }
.room-box                                       { margin-bottom: 80px; display: flex; text-align: center; align-items: center;  }
.room-box figure                                { background: transparent; line-height: 64px; }
.property-details-page-wrapper .counter-box     { text-align: left; }
.property-details-page-wrapper .counter-box p:last-child    { margin-bottom: 0px; font-size: 32px; line-height: 38.4px; color: #1F1F1F; font-family: 'Lato', sans-serif; font-weight: 600; }
.property-detail-box                            { margin-bottom: 100px; }
.property-details-page-wrapper .property-detail-box p:first-child              { margin-bottom: 15px; color: #CA9401; font-family: 'Lato', sans-serif; font-weight: 500; }
.property-detail-box p:last-child               { margin-bottom: 0px; font-size: 32px; line-height: 42.66px; font-family: 'Playfair Display', sans-serif; font-weight: 500; }
.property-detail-box .title-box                 { padding: 0px; }
.property-details-counter-wrap                  { position: relative; margin-bottom: 40px; }
.property-details-counter-wrap::after           { position: absolute; content: ''; left: 0px; bottom: 0px; width: 50px; height: 6px; background-color: #CA9401; }
.description-box                                { margin-bottom: 80px; }
.description-box p.title                        { margin-bottom: 24px; color: #CA9401; font-weight: 500; }
.description-box p                              { font-weight: 500; line-height: 32px; }
.description-box p:last-child                   { margin-bottom: 0px;  }
.amenities-wrap h1                              { margin-bottom: 57px; line-height: 53px; }
.amenities-box                                  { margin-right: 80px; }
.amenities-box p                                { margin-top: 22px; line-height: 21.6px; font-weight: 500; margin-bottom: 0px; }
.amenities-wrap > div                           { margin-bottom: 100px; align-items: flex-end; flex-wrap: wrap; }
.amenities-wrap.section-title                   { text-align: left; }
.amenities-wrap.section-title h1                { padding: 0px; margin-bottom: 50px; }
.amenities-wrap.section-title.animated h1:before{ left: calc(100% + 30px); }
.amenities-wrap a.theme-btn                     { margin-top: 0px; background-color: #1F1F1F; color: #fff; border: none; }

.property-details-page-wrapper .row             { display: flex; flex-wrap: wrap; }
.slider-title-wrap                              { display: flex; justify-content: space-between; align-items: center; margin-bottom: 27.33px; }
.slider-arrows-wrap a:first-child img           { margin-right: 22.67px; }
.property-details-page-wrapper .slider-title-wrap > div a                      { color: #1F1F1F; text-decoration: none; font-weight: 500; transition-duration: 0.5s; }                     
.slider-title-wrap > div a:hover                { transition-duration: 0.5s; color: #CA9401; }
.slider-title-wrap ul.property-nav              { margin: 0 -11px; display: inline-flex; }
.slider-title-wrap ul.property-nav li           { padding: 0 11px; }


/* 07-02-2022 loader include */
.property-page-wrapper .latest-properties-wrapper   { position: relative; }
.loader-wrapper                                 { display: none; align-items: center; justify-content: center; height: 100%; width: 100%; position: absolute; top: 0; left: 0;  z-index: 1; background-color: #CA9401; }
.loader                                         { margin: 100px auto; font-size: 12px; width: 20px; height: 20px; border-radius: 50%; position: relative; text-indent: -9999em; -webkit-animation: load5 1.1s infinite ease; animation: load5 1.1s infinite ease; -webkit-transform: translateZ(0); -ms-transform: translateZ(0); transform: translateZ(0); }
  @-webkit-keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
  }
  @keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
  }
.card                   { position: relative;    transition-timing-function: ease-in-out; transition-duration: 0.4s;   } 
.card:hover             { transform: scale(1.01); }
.box-link               { position: absolute; top: 0; left: 0px; width: 100%; height: 100%; }
.safari .icon-holder figure,
.safari .wow.flipInY                { backface-visibility: hidden !important; -webkit-backface-visibility: hidden !important; transform: translate3d(0,0,0) !important; -webkit-transform: translate3d(0,0,0) !important;}

/* 08-02-2022 range input */
.slidecontainer { width: 100%; }

.slider         { -webkit-appearance: none; width: 100%; height: 15px; border-radius: 10px; background: #d3d3d3; outline: none; opacity: 0.7; -webkit-transition: .2s; transition: opacity .2s; }

.slider:hover   { opacity: 1; }

.slider::-webkit-slider-thumb { -webkit-appearance: none; appearance: none; width: 15px; height: 20px; background: #CA9401; cursor: pointer; }

.slider::-moz-range-thumb { width: 15px; height: 15px; background: #CA9401; cursor: pointer; }
.panel-body p             {  margin-top: 10px; padding: 0px; margin-bottom: 0px; font-size: 14px; line-height: 24px; font-family: 'Inter', sans-serif; font-weight: 600; color: #A8A7A4; }
.slider-wrapper-vertical  { display: flex; flex-direction: column; justify-content: space-between; }
.slider-wrapper a, .slider-wrapper-vertical a,.parent a { display: block; }
.slider-wrapper-vertical a:first-child { margin-bottom: 16px; }
.fancybox-thumbs { top: auto; width: auto; bottom: 0; left: 0; right : 0; height: 95px; padding: 10px 10px 5px 10px; box-sizing: border-box; background: rgba(0, 0, 0, 0.3); }
.fancybox-show-thumbs .fancybox-inner { right: 0; bottom: 95px; }
.slider-box       { position: relative; }

.parent { display: grid; grid-template-columns: 7fr 3fr; grid-template-rows: repeat(2, 1fr); grid-column-gap: 0px; grid-row-gap: 0px; }
.div1 { margin-right: 4px; grid-area: 1 / 1 / 3 / 2; }
.div2 { margin: 0px 0px 4px 4px; grid-area: 1 / 2 / 2 / 3; }
.div3 { margin: 4px 0px 0px 4px; grid-area: 2 / 2 / 3 / 3; }
.parent > div { background-repeat: no-repeat; background-size: cover; position: relative; padding-top: 64.25%;}
   /* padding-top: 56.25%; } */
.parent a { position: absolute; top: 0; left: 0; height: 100%; width: 100%;   }

.slide-count              { display: inline-flex; padding: 11px 16px; align-items: end; font-size: 14px; line-height: 16.8px; font-weight: 700; background-color: #fff; position: absolute; bottom: 20px; right: 20px; z-index: 1; }
.slide-count figure       { margin-right: 7px; }
.filter-wrapper .title    { display: flex; justify-content: space-between; }
.filter-wrapper .title i  { display: none; }
.card:hover .card-body .card-text p:first-child span { opacity: 0; }
.card:hover .card-body .card-text p:first-child span { border-bottom: 1px solid; opacity: 1; transition-duration: 0.5s; }
.filter-wrapper.active   { height: auto;  transition: height 0.8s ease-in;  }
.icon-holder * { display: inline-block; vertical-align: middle; }




@media(min-width: 992px) and (max-width: 1199px) {
    /******* Common Element CSS Start ******/	
    h1 { font-size: 55px; line-height: 60px;}
    .height-saperator { height: 30px;}
    .common-section { padding: 60px 0px;}
    .common-section p { padding: 0px 20px;}
    p { font-size: 17px; line-height: 28px; margin-bottom: 25px;}
    p > b { font-size: 19px;}
    .saperator { margin-bottom: 30px;}
    .section-title h1 { padding: 0px 30px;}
    .theme-btn { margin-top: 30px;}
    /******* Header Section CSS End *********/
    header { padding: 15px 0px;}
    header a { font-size: 14px;}
    .logo-block a { width: 160px; display: inline-block;}
    .page-banner { height: 350px;}
    .menu-block p { margin: 0px 30px 0px 10px; font-size: 14px;}
    /******* Banner section CSS Start *******/
    .banner-desc { padding: 120px 0px 70px;}
    .banner-desc h1 span { font-size: 20px;}
    .membership-selection button[type="submit"],
    .banner-desc a { font-size: 14px; line-height: 15px; margin-top: 80px;}
    /******* middle section CSS Start *******/
    /* ---------- login block sections ------------ */
    .login-block {padding: 125px 0px;}
    .login-block span { letter-spacing: 2px;}
    .login-block form { margin: 20px 0px 40px;}
    /* ---------- service sections ------------ */
    .services-block { padding: 125px 15px;}
    /* ---------- management sections ------------ */
    .management-box { padding: 20px 35px;}
    .management-box h4 { margin: 5px 0px 15px;}
    /* ---------- more info sections ------------ */
    .more-info-section { padding: 115px 0px;}
    /* ---------- location sections ------------ */
    .location-section { margin-bottom: 10px; height: 400px;}
    /* ---------- service list sections ------------ */
    .service-list-block p { margin: 20px 0px;}
    /* ---------- coverage map sections ------------ */
    .coverage-image .coverage-location-box h3 { font-size: 20px; margin: 0px 0px 5px;}
    /* ---------- contact list sections ------------ */
    .contact-list-block p { font-size: 16px; line-height: 25px;}
    /***** Bottom section CSS Start *******/
    footer { font-size: 13px;}
    .foot-contact { background-position: left 10px top; background-size: 45px auto;}
    .foot-address { background-position: right 10px top; background-size: 45px auto;}
    /* =================================================================== Portal Pages CSS Start ================================================================= */
    /******* Common Element CSS Start ******/
    .portal-data-wrap { padding: 0px 20px;}
    .portal-heading-bar { padding: 20px 25px;}
    .portal-heading-bar img { margin-right: 15px;}
    .portal-heading-bar h2 { letter-spacing: 3px; font-size: 23px;}
    .portal-footer-bar { padding: 30px 25px 20px;}
     /******* Middle section CSS Start ******/
    /* ---------- portal propertysections ------------ */
    .peoperty-block .col-sm-6 > div { padding: 15px;}
    .property-box img { max-width: 70px;}
    .property-box h3 { font-size: 22px; line-height: 25px;}
    .property-insert-box { padding-top: 50px !important; padding-bottom: 50px !important;}
    .property-sidebar {padding: 15px 0px;}
    .property-sidebar .portal-heading-bar { padding-bottom: 0px;}
    .property-sidebar figure { margin: 15px 0px;}
    .property-sidebar form { padding: 0px 25px;}

    /* 31-01-2022 css  */
    .latest-properties-wrapper .card-text   { margin: 0 0px 10px; }

    /* Property page started 01-02-2022 */
    .filter-wrapper                         { padding: 24px 18px 18px; }
    .filter-wrapper .filter-title,.property-details-counter-wrap .counter-title            { margin-bottom: 20px;  }
    .title                                  { font-size: 20px; line-height: 24px; }
    .panel-title                            { font-size: 15px; line-height: 20px; }
    .filter-wrapper .panel ul li            { margin-bottom: 16px; font-size: 15px; line-height: 20px; }
    
    /* property detail page started */
    section.property-details-page-wrapper           { padding: 80px 0px 110px; }
    .property-details-page-wrapper .title-box h3    { margin-bottom: 22px; font-size: 28px; line-height: 40px; }
    .property-details-page-wrapper .title-box h1    { font-size: 36px; line-height: 44px; }
    .property-details-page-wrapper .title-box       { padding: 34px 0px 70px; }
    .property-details-counter-wrap .circle-box      { height: 60px; width: 60px; }
    .room-box figure                                { line-height: 60px; }
    .room-box figure img                            { width: 30px; }
    .property-detail-box                            { margin-bottom: 80px; }
    .property-details-page-wrapper .counter-box p:last-child { font-size: 28px; line-height: 34.4px; }
    .property-detail-box p:last-child               { margin-bottom: 0px; font-size: 28px; line-height: 38.66px; }
    .description-box p.title                        { margin-bottom: 20px; }
    .description-box                                { margin-bottom: 60px; }
    .property-details-page-wrapper .title-box h1, .amenities-wrap h1    { font-size: 36px; line-height: 42px; }
    .amenities-wrap.section-title h1                { margin-bottom: 45px; }
    .amenities-wrap .amenities-box figure img       { max-width: 90%; height: auto; }
    .amenities-box p                                { margin-top: 20px; line-height: 20.6px; }
    .amenities-wrap .theme-btn                      { margin-top: 0px; }
    .amenities-wrap > div                           { margin-bottom: 70px; }
    .amenities-box                                  { margin-right: 70px; }
    .description-box p                              { line-height: 30px; }
    .latest-properties-wrapper .card-icon-box .icon-holder { font-size: 17px; line-height: 20.5px; }
    .latest-properties-wrapper .card-icon-box .icon-holder figure { margin-right: 8px; }
}
@media(min-width: 768px) and (max-width: 991px) {
    /******* Common Element CSS Start ******/
    body { padding: 0px 7px;}
    h1 { font-size: 40px; line-height: 50px;}
    h2 { font-size: 25px; line-height: 35px; margin-bottom: 15px;}
    h3 { font-size: 26px; line-height: 35px; letter-spacing: 3px; margin: 15px 0px 25px;}
    .height-saperator { height: 25px;}
    .common-section { padding: 45px 0px;}
    .common-section p { padding: 0px 15px;}
    p { font-size: 16px; line-height: 25px; margin-bottom: 20px;}
    p > b { font-size: 18px;}
    .saperator { margin-bottom: 25px;}
    .section-title h1 { padding: 0px 20px;}    
    .theme-btn { font-size: 18px; margin-top: 30px;}
    /******* Header Section CSS End *********/
    header { padding: 10px 0px; }
    header a { font-size: 13px; }
    .logo-block a { width: 130px; display: inline-block;}
    .page-banner { height: 320px;}
    .menu-box .main-menu ul > li > a { line-height: 55px;}
    .header-social-icons img { width: 25px; } 
    .menu-block p { font-size: 13px; margin: 0px 20px 0px 5px;}
    .menu-block > a img { width: 35px; height: 35px; }
    /******* Banner section CSS Start *******/
    .banner-desc { padding: 80px 0px 50px;}
    .banner-desc h1 span { font-size: 16px; line-height: 20px; letter-spacing: 2px;}
    .membership-selection button[type="submit"],
    .banner-desc a { font-size: 14px; line-height: 15px; margin-top: 40px;}
    /******* middle section CSS Start *******/
    /* ---------- login block sections ------------ */
    .login-block span { letter-spacing: 2px;}
    /* ---------- service sections ------------ */
    .services-section { padding: 0px 8px;}
    .services-block { padding: 100px 15px;}
    .services-block p { font-size: 22px; line-height: 28px; letter-spacing: 3px;}
    /* ---------- management sections ------------ */
    .management-box { padding: 20px 15px;}
    .management-box h4 { font-size: 18px; line-height: 25px; margin: 5px 0px 10px;}
    .management-box p { font-size: 15px; line-height: 25px;}
    /* ---------- more info sections ------------ */
    .more-info-section { padding: 100px 0px;}
    /* ---------- location sections ------------ */
    .location-section { margin-bottom: 10px; height: 350px;}
    /* ---------- service list sections ------------ */
    .service-list-block p { margin: 15px 0px; font-size: 13px; line-height: 18px;}
    /* ---------- coverage map sections ------------ */
    .coverage-image .coverage-location-box h3 { font-size: 18px; margin: 0px 0px 5px;}
    /* ---------- contact list sections ------------ */
    .contact-list-block h2 { margin-bottom: 20px;}
    .contact-list-block figure { margin-bottom: 0px;}
    .contact-list-block figure img { width: 30px;}
    .contact-list-block p { font-size: 16px; line-height: 25px;}
    /***** Bottom section CSS Start *******/
    footer { padding: 40px 0px 20px; font-size: 12px;}
    .foot-contact { background-position: left 10px top; background-size: 45px auto;}
    .foot-address { background-position: right 10px top; background-size: 45px auto;}
    /* =================================================================== Portal Pages CSS Start ================================================================= */
    /******* Common Element CSS Start ******/
    .portal-data-wrap { padding: 0px 0px;}
    .portal-heading-bar { padding: 15px 25px;}
    .portal-heading-bar img { margin-right: 10px;}
    .portal-heading-bar h2 { letter-spacing: 2px; font-size: 20px;}
    .portal-footer-bar { padding: 15px 25px 30px;}
    .header-select .jcf-select { width:100%; max-width: 100%;}
     /******* Middle section CSS Start ******/
    /* ---------- portal property sections ------------ */
    .peoperty-block .col-sm-6 > div { padding: 15px;}
    .property-box img { max-width: 50px;}
    .property-box h3 { margin: 5px 0px 0px; font-size: 20px; line-height: 25px;}
    .property-insert-box { padding-top: 45px !important; padding-bottom: 45px !important;}
    .proprty-action { font-size: 8px; letter-spacing: 1px;}
    .property-sidebar {padding: 15px 0px;}
    .property-sidebar .portal-heading-bar { padding-bottom: 0px;}
    .property-sidebar figure { margin: 15px 0px;}
    .property-sidebar form { padding: 0px 15px;}
    /* ---------- portal invoice sections ------------ */
    .portal-invoice-block .col-sm-6:nth-child(3n+1) { clear: none;}
    .portal-invoice-block .col-sm-6:nth-child(odd) { clear: both;}
    /* ---------- notification sections ------------ */
    .notifications-list li { padding: 25px;}
    .notifications-list li .n-desc { font-size: 15px; line-height: 20px;}

    /* 31-01-2022 css  */
    .latest-properties-wrapper .card-text   { margin: 0px 0px 10px; }
    .latest-properties-wrapper .card-text p:first-child     { margin-bottom: 15px; font-size: 18px; line-height: 25px; }
    .latest-properties-wrapper .card-text p,.slider-title-wrap > div a { font-size: 17px; line-height: 20.6px; }
    .latest-properties-wrapper .property-type-box p { margin-bottom: 5px; font-size: 15px; line-height: 18.2px; }    
    .latest-properties-wrapper .card-body   { padding: 10px; }

    /* Property page started 01-02-2022 */
    .property-page-wrapper .latest-properties-wrapper a.theme-btn   { margin-top: 40px; }
    .filter-wrapper                         { padding: 24px 18px 18px; }
    .filter-wrapper .filter-title,.property-details-counter-wrap .counter-title            { margin-bottom: 20px; }
    .title                                  { font-size: 20px; line-height: 24px; }
    .panel-title                            { font-size: 15px; line-height: 20px; }
    .filter-wrapper .panel ul li            { margin-bottom: 15px; font-size: 15px; line-height: 20px; }

    /* property detail page started */
    section.property-details-page-wrapper           { padding: 70px 0px 90px; }
    .property-details-page-wrapper .title-box h3    { margin-bottom: 18px; font-size: 23px; line-height: 33px; }
    .property-details-page-wrapper .title-box h1    { font-size: 34px; line-height: 42px; }
    .property-details-page-wrapper .title-box       { padding: 30px 0px 60px; }
    .property-details-counter-wrap .circle-box      { height: 50px; width: 50px; }
    .room-box figure                                { line-height: 50px; }
    .room-box figure img                            { width: 25px; }
    .property-detail-box                            { margin-bottom: 60px; }
    .property-details-page-wrapper .counter-box p:last-child { font-size: 26px; line-height: 32.4px; }
    .property-detail-box p:last-child               { margin-bottom: 0px; font-size: 25px; line-height: 32.66px; }
    .description-box p.title                        { margin-bottom: 18px; }
    .description-box                                { margin-bottom: 50px; }
    .property-details-page-wrapper .title-box h1, .amenities-wrap h1    { font-size: 32px; line-height: 40px; }
    .amenities-wrap.section-title h1                { margin-bottom: 40px; }
    .amenities-wrap .amenities-box figure img       { max-width: 80%; height: auto; }
    .amenities-box p                                { margin-top: 18px; line-height: 18.6px; }
    .amenities-wrap .theme-btn                      { margin-top: 0px; }
    .amenities-wrap > div                           { margin-bottom: 50px; }
    .amenities-box                                  { margin-right: 50px; }
    .description-box p                              { line-height: 28px; }

}
@media(max-width: 767px) {
    /******* Common Element CSS Start ******/
    body { padding: 0px;}
    h1 { font-size: 38px; line-height: 50px;}
    h2 { font-size: 20px; line-height: 30px; margin-bottom: 10px;}
    h3 { font-size: 22px; line-height: 30px; letter-spacing: 2px; margin: 10px 0px 15px;}
    .height-saperator { height: 20px;}
    .common-section { padding: 30px 0px;}
    .common-section p { padding: 0px 10px;}
    .saperator { margin-bottom: 15px;}
    p { font-size: 15px; line-height: 25px; margin-bottom: 20px;}
    p > b { font-size: 17px;}
    .saperator { margin-bottom: 15px;}
    .section-title h1 { padding: 0px 10px;}    
    .theme-btn { padding: 12px 50px; font-size: 16px; margin-top: 20px;}
    .signup-section.bg-parallex {  background: url(../images/signup-bg.jpg) no-repeat center center / cover !important;}
    /******* Header Section CSS End *********/
    header { padding: 10px 0px; }
    header a { font-size: 14px;}
    .call-block { display: none; }
    .logo-block a { width: 110px; display: block;}
    header .row.main-row { display: flex !important; display: -webkit-flex; align-items: center; -webkit-align-items: center;}
    header .logo-block { text-align: left; }
    .menu-block.mobile-menu { display: flex !important; align-items: center; justify-content: flex-end;}
    .header-social-icons img { width: 20px; }
    .menu-block p { margin: 0px 20px 0px 10px; font-size: 14px; line-height: 20px;}
    .menu-block > a img { width: 30px; height: 30px; }
    /******* Banner section CSS Start *******/	
    .banner-desc { padding: 80px 0px 50px;}
    .banner-desc h1 span { font-size: 16px; line-height: 20px; letter-spacing: 1px;}
    .membership-block h1 { font-size: 58px; }
    .membership-selection button[type="submit"],
    .banner-desc a { font-size: 14px; line-height: 15px; margin-top: 40px;}
    .page-banner { height: 280px;}
    /******* middle section CSS Start *******/
    /* ---------- login block sections ------------ */
    .login-block {padding: 80px 0px;}
    .login-block span { letter-spacing: 2px; font-size: 20px;}
    .login-block form { margin: 20px 0px;}
    /* ---------- service sections ------------ */
    .services-section { padding: 0px 8px;}
    .services-block { padding: 80px 15px;}
    .services-block p { font-size: 20px; line-height: 25px; letter-spacing: 2px; margin-bottom: 10px;}
    .services-block img {  -webkit-backface-visibility: hidden;}
    /* ---------- management sections ------------ */
    .management-box { padding: 15px;}
    .management-box h4 { font-size: 18px; line-height: 25px; margin: 5px 0px 10px;}
    .management-box p { font-size: 15px; line-height: 25px;}
    /* ---------- more info sections ------------ */
    .more-info-section { padding: 85px 0px;}
    /* ---------- location sections ------------ */
    .location-section { margin-bottom: 10px; height: 300px;}
    .coverage-image img { max-width: 350px;}
    /* ---------- service list sections ------------ */
    .service-list-block p { margin: 10px 0px; font-size: 14px;}
    /* ---------- contact list sections ------------ */
    .contact-list-block h2 { margin-bottom: 20px;}
    .contact-list-block figure { margin-bottom: 0px;}
    .contact-list-block figure img { width: 30px;}
    .contact-list-block p { font-size: 16px; line-height: 25px;}
    /***** Bottom section CSS Start *******/
    footer { padding: 40px 0px 20px; font-size: 13px;}
    footer .logo-block a { display: inline-block; margin: 20px auto;}
    .foot-contact { text-align: center; background-position: center top; background-size: 35px auto; padding: 50px 15px 20px;}
    .foot-address { text-align: center; background-position: center top; background-size: 35px auto; padding: 50px 15px 20px; margin-top: 20px; }
    .siteinfo { margin-top: 20px; }
    .copyright-block { text-align: center; }
    .powered-block { text-align: center; }
    /* =================================================================== Portal Pages CSS Start ================================================================= */
    /******* Common Element CSS Start ******/
    .portal-data-wrap { padding: 0px 0px;}
    .portal-heading-bar { padding: 15px 25px;}
    .portal-heading-bar img { margin-right: 5px;}
    .portal-heading-bar h2 { line-height: 30px; letter-spacing: 2px; font-size: 18px;}
    .portal-footer-bar { padding: 30px 25px 15px;}
    .header-select .jcf-select { width:100%; max-width: 100%;}
    /******* Header Section CSS Start *******/
    .template-portal .menu-block > a span { display: none;}
    /******* Header Section CSS End *******/
    /******* Middle section CSS Start ******/
    /* ---------- portal propertysections ------------ */
	.peoperty-block .row { flex-direction: column; -webkit-flex-direction: column;}
    .peoperty-block .col-sm-6 > div { padding: 15px;}
    .property-box h3 { margin: 5px 0px; font-size: 20px; line-height: 25px;}
    .property-insert-box { padding-top: 30px !important; padding-bottom: 30px !important;}
    .property-sidebar {padding: 15px;}
    .property-sidebar .portal-heading-bar { padding-bottom: 0px;}
    .property-sidebar figure { margin-bottom: 15px;}
    .property-sidebar form { padding: 0px 15px;}
    /* ---------- portal invoice sections ------------ */
    .invoice-box { font-size: 12px; line-height: 25px;}
    .invoice-box ul li > div {padding: 5px;}
    /* ---------- notification sections ------------ */
    .notifications-list li { padding: 25px 20px;}
    .notifications-list li .n-date { font-size: 10px;}
    .notifications-list li .n-title { letter-spacing: 1px;}
    .notifications-list li .n-desc { font-size: 14px; line-height: 20px;}
/*    document list*/
    .documents-list .left-doc-content p { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    /* ---------- portal settings sections ------------ */
    .settings-form { padding: 0px 25px;}
    .settings-form form {padding: 15px 0px 25px;}
    .settings-form form .form-group { margin-bottom: 25px;}
    .settings-form form label { font-size: 14px;}
    .submit-setting button { font-size: 14px;}

    /* 31-01-2022 css  */
    .latest-properties-wrapper .card        { margin-bottom: 20px; }
    .latest-properties-wrapper .card-body   { padding: 10px; }
    .latest-properties-wrapper .card-text   { text-align: left; margin: 0px 0px 5px; }
    .latest-properties-wrapper .card-text p:first-child     { margin-bottom: 15px; font-size: 18px; line-height: 25px; }
    .latest-properties-wrapper .card-text p,.slider-title-wrap > div a { font-size: 16px; line-height: 18.6px; }
    .latest-properties-wrapper .property-type-box p          { font-size: 15px; line-height: 17.2px; }
    .latest-properties-wrapper a.theme-btn  { margin-top: 0px; }

    /* Property page started 01-02-2022 */
    .property-page-wrapper > .row > .col-sm-3           { position: unset; top: 15px; }
    .filter-wrapper                         { margin-bottom: 35px; padding: 20px 14px 14px; }
    .filter-wrapper .filter-title,.property-details-counter-wrap .counter-title            { margin-bottom: 18px; }
    .title                                  { font-size: 18px; line-height: 22px; }
    .panel-title                            { font-size: 14px; line-height: 18px; }
    .filter-wrapper .panel ul li            { margin-bottom: 14px; font-size: 14px; line-height: 18px; }
    .property-page-wrapper .latest-properties-wrapper a.theme-btn   { margin-top: 20px; }

    /* property detail page started */
    section.property-details-page-wrapper           { padding: 30px 0px 40px; }
    .property-details-page-wrapper .title-box h3    { margin-bottom: 14px; font-size: 20px; line-height: 30px; }
    .property-details-page-wrapper .title-box h1    { font-size: 28px; line-height: 36px; }
    .property-details-page-wrapper .title-box       { padding: 15px 0px 30px; }
    .property-details-counter-wrap .circle-box      { height: 40px; width: 40px; }
    .room-box figure                                { line-height: 40px; }
    .room-box figure img                            { width: 20px; }
    .property-details-counter-wrap > div            { margin-bottom: 10px; }
    .property-detail-box                            { margin-bottom: 20px; display: flex;  }
    .property-details-page-wrapper .counter-box p:last-child { font-size: 22px; line-height: 26.4px; }
    .property-details-page-wrapper .property-detail-box p:first-child { margin-bottom: 10px; margin-right: 25px; }
    .property-detail-box p:last-child               { margin-bottom: 0px; font-size: 18px; line-height: 22px; }
    .description-box p.title                        { margin-bottom: 18px; }
    .description-box                                { margin-bottom: 40px; }
    .property-details-page-wrapper .title-box h1, .amenities-wrap h1    { font-size: 28px; line-height: 36px; }
    .amenities-wrap.section-title h1                { margin-bottom: 35px; }
    .amenities-wrap .amenities-box figure img       { max-width: 80%; height: auto; }
    .amenities-box                                  { margin-right: 30px; margin-bottom: 30px; }
    .amenities-box p                                { margin-top: 18px; line-height: 18.6px; }
    .amenities-wrap .theme-btn                      { margin-top: 0px; }
    .amenities-wrap > div                           { margin-bottom: 20px; }
    .room-box                                       { margin-bottom: 20px; }
    /* .property-details-counter-wrap                  { padding-bottom: 5px; } */
    .parent div:not(:first-child)                   { display: none; }
    .parent                                         { grid-template-columns: 1fr; grid-template-rows: auto; display: block; }
    .div1                                           { margin-right: 0px; margin-bottom: 6px; }
    .div2                                           { margin: 6px 0px 6px 0px; }
    .div3                                           { margin: 6px 0px 0px 0px; }
    .filter-wrapper .title i                        { display: inline; margin-right: 10px; }
    .description-box p                              { line-height: 25px; }
    .filter-wrapper                                 { height: 55px; overflow-y: hidden; transition: height 0.8s ease-out; }

    /* .latest-properties-wrapper .card                { height: calc(100% - 20px); } */
    .latest-properties-wrapper .container > .row > .col-sm-4       { margin-bottom: 20px; width: 100%; }
    .latest-properties-wrapper > .row > .col-sm-4   { width: 100%;  }
    /* .latest-properties-wrapper .card-icon-box .d-flex figure .animated { display: none; } */
    /* .card-icon-box .row .col-sm-4                   { width: auto; } */
  }

