/* here you can put your own css to customize and override the theme */
.logo-header{
    width:165px !important;
    margin: 4px 10px 0 !important;
    height: 65px;
}
.btn-xs {
    margin-top: 5px !important;
}
.form-group .required {
color: #555 !important;
font-size: 14px !important;
}
#overlayDocument{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 10000;
    text-align:center
}
#overlayDocument img{
    position: absolute;
    top:50%;
    left: calc(50% - 16px);
}
/* ----- Message Transperancy Removed-------*/
.toast {
  opacity: 1 !important;
}
#toast-container > div {
  opacity: 1 !important; 
}
.dataTables_wrapper .dataTables_processing {
    z-index: 10000 !important;
}
.mendatory{
    color: red;
    font-size: 15px;
}
.stop_scroll {
    overflow: hidden;
}
.theme_img_preview{
    height:300px;
    width:200px;
    cursor: pointer;
}
.theme_img_preview:hover {
    opacity: 0.7;
}
#myModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* z-index: 1; Sit on top */
    padding-top: 49px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    zoom: 0.7;
}
#preview_content img { 
    width: 100%;
}
#preview_dialog { 
    margin:0px auto; 
}
#caption_text {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height:45px;
    font-size: 20px;
}
#preview_content, #caption_text {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}
@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}
.close_preview {
    position: absolute;
    top: -40px;
    right:0px;
    color: #f1f1f1;
    font-size: 35px;
    font-weight: bold;
    transition: 0.3s;
    background: transparent;
    border: 0px;
}
.close_preview:hover, .close_preview:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    #preview_content {
        width: 100%;
    }
}
@media (max-width: 767px){
    #preview_dialog   { margin:0px; }
}
@media (min-width: 992px){
    .user_dashboard {
        margin-left: 0px !important;
        margin-top: 0 !important;
        min-height: 600px !important;
        padding: 10px 75px 0 75px !important;
    }
}
.detail-page-iframe{ width: 100%;border-radius:10px;border:solid 1px #C3C3C3;}