@charset "utf-8";
/* CSS Document */

/******* Fonts Face CSS Start **********/
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.5.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.5.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.5.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.5.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'Gotham Rounded';
	src: url('../fonts/GothamRounded-Medium.eot');
	src: url('../fonts/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamRounded-Medium.woff2') format('woff2'),
		url('../fonts/GothamRounded-Medium.woff') format('woff'),
		url('../fonts/GothamRounded-Medium.ttf') format('truetype'),
		url('../fonts/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Rounded Book';
	src: url('../fonts/GothamRounded-Book.eot');
	src: url('../fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamRounded-Book.woff2') format('woff2'),
		url('../fonts/GothamRounded-Book.woff') format('woff'),
		url('../fonts/GothamRounded-Book.ttf') format('truetype'),
		url('../fonts/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Rounded';
	src: url('../fonts/GothamRounded-Light.eot');
	src: url('../fonts/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamRounded-Light.woff2') format('woff2'),
		url('../fonts/GothamRounded-Light.woff') format('woff'),
		url('../fonts/GothamRounded-Light.ttf') format('truetype'),
		url('../fonts/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Rounded';
	src: url('../fonts/GothamRounded-Bold.eot');
	src: url('../fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GothamRounded-Bold.woff2') format('woff2'),
		url('../fonts/GothamRounded-Bold.woff') format('woff'),
		url('../fonts/GothamRounded-Bold.ttf') format('truetype'),
		url('../fonts/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
    font-family: 'bebasregular';
    src: url('../fonts/bebas___-webfont.woff2') format('woff2'),
         url('../fonts/bebas___-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/********* Fonts Face CSS End **********/

/******* Common Element CSS Start ******/
html 						{ overflow-x:hidden;}
*							{ margin: 0px; padding: 0px;}
body						{ font-family: Arial, Helvetica, sans-serif; font-size:14px; padding-bottom: 40px; position: relative;}
/*html , body					{ height: 100%;}*/
.clear						{ clear:both;}
img							{ border: 0px;}
ul,ol						{ list-style: none;}
a							{ text-decoration: none; outline: none;}
a:focus, a:active,a:visited , a:hover{ outline: none; border: 0px; text-decoration: none;}
h1							{}
h2							{}
h3							{}
h4							{}
p							{}
.valign 					{ position: relative; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%);}
.padding-none				{ padding: 0px !important;}
.margin-none				{ margin: 0px !important;}
.paddingl-none				{ padding-left: 0px !important;}
.paddingr-none				{ padding-right: 0px !important;}
.paddingt-none				{ padding-top: 0px !important;}
.paddingb-none				{ padding-bottom: 0px !important;}
.marginl-none				{ margin-left: 0px !important;}
.marginr-none				{ margin-right: 0px !important;}
.margint-none				{ margin-top: 0px !important;}
.marginb-none				{ margin-bottom: 0px !important;}
.border-none				{ border: none !important; }
.bg-none					{ background: none !important;}
.bg-cover					{ background-size: cover; -webki-background-size: cover; -ms-background-size: cover; -moz-background-size: cover; -o-background-size: cover;}
.space2						{ height: 20px;}
.space4						{ height: 40px;}
.padding 					{ padding: 16px; }
.margin 					{ margin: 16px; }
/******* Common Element CSS End *********/


/******* Middle section CSS Start ******/
/*************************** event-details start***************/
.img-block-event		{ width: 100%;}
.img-block-event::after { background:url("../images/img-upper-layer.png") no-repeat; background-size: cover; content: ""; position: absolute; left: 0px; top: 40%; width: 100%; height: calc(100% - 78px); }
.img-block-event 		{ position: relative;}
.details-logo 			{ background-color: #d59d1c; border-radius: 50%; border:3px solid #fff; width: 65px; height: 65px; display: table; text-align: center;}
.details-logo h1 		{ text-transform: uppercase; color: #fff; font-size: 40px; font-family: 'Gotham Rounded Book';vertical-align: middle; display: table-cell;}
.event-detial-block h1 	{ margin-bottom:0px; letter-spacing: 1px; text-transform: uppercase; font-size: 18px; color: #fff; font-family: "Gotham Rounded"; font-weight: 600;}
.dis-like				{ color: #666263;}
.like 					{ color: #fff;}
.review a 				{ font-size: 12px; text-decoration: underline; color: #937027; font-family: 'Gotham Rounded Book';}
.more-text 				{ padding-bottom: 10px;font-size: 12px; font-family: 'Gotham Rounded Book' !important; color: #fff; border-bottom: 1px solid #7d7a7d;}
.address-block 	h1 		{ font-family: 'Gotham Rounded'; font-weight: bold; font-size: 20px; color: #fff;}
.address-block ul li 	{ font-size: 13px; color: #fff; font-family: 'Gotham Rounded'; margin-top: 0px; overflow: visible; display: inline-block; font-weight: 300;}
.address-block ul li i 	{ color: #fff; font-size: 17px; padding: 0px 5px;}
.address-block p 		{ margin-top: 6px; font-family: 'Gotham Rounded Book'; color: #fff; font-size: 12px; letter-spacing: 0.5px;font-weight: bold; }
.map-btn 				{ padding: 15px 0px; text-align: center;font-family: 'Gotham Rounded';background-color: #d59d1c; right: -21px; display: block; position: absolute; width: 100%; color: #fff; border-top-left-radius:50px; border-bottom-left-radius: 50px; font-size: 16px; font-weight: 500;}
.map-btn img 			{ margin-bottom: -6px;}
.white-bg 		        { margin-top: 15px; background: url("../images/Ticket-Block1.png") no-repeat;background-size: 100% 100%; width: 100%;}
.ticket-detials h2 		{ color: #545c60; font-size: 18px; font-family: 'Gotham Rounded'; font-weight: 500; text-align: center;}
.ticket-detials span 	{ color:  #d59d1c; font-size: 16px;}
.ticket-detials p 		{ padding: 10px 0px; color: #545c60; font-size: 12px; font-family: 'Gotham Rounded'; font-weight: 300; text-align: center; }
.more-text a 			{ text-decoration: underline; color:#937027;}
.price-btn 				{ margin-left: 8px; background-color: #d59d1c; color: #fff !important; font-family: 'Gotham Rounded'; font-weight: 500; border-radius: 50px; font-size: 16px;}
.contact-detials h2		{ font-family: 'Gotham Rounded'; font-weight: 500; color:#d59d1c; text-align: left; }
.index-block 			{ z-index: 1;}
.contact-icon 			{ font-size: 55px; color: #e3e1e1; }
.contact-detials a 		{ color: #9fa2a6; font-size: 14px; font-family: 'Gotham Rounded Book';}
.table-content legend 	{ margin: 0px; font-size: 25px; color: #fff; font-family: 'Gotham Rounded'; font-weight: bold; border-bottom: 0px; width: initial;}
.table-content fieldset { border-style: dashed; border-style: dashed; border-width: 1px;
    border-color: #c0c0c0;}
.table-content h2 		{ font-size: 20px; font-family: 'Gotham Rounded Book'; color: #fff;}
.promo-code 			{ padding: 10px 15px; background-color: #a78127; font-family: 'Gotham Rounded'; font-weight: 500; color: #fff; border-radius: 50px; text-transform: uppercase; font-size: 16px;}
.promo-border 			{ border-right: 1px solid #979ba2;}
.offer h3 				{ font-family: 'Gotham Rounded'; font-weight: 300; font-size: 30px; color: #fff;}
.offer h1				{ margin-top: 0px;font-family: 'bebasregular';font-weight: 500; font-size: 35px; color: #fff;}
.offer h1 span 			{ color: #d59d1c; font-size: 25px;}
.splash-bg 				{ background: url(../images/BG.png) no-repeat; background-size: cover; background-position: center center; }
 body.privacy-bg		{ background:url("../images/static-bg.png") no-repeat; background-size: cover;   width: 100%;  }
 body.privacy-bg1		{ background:url("../images/static-bg.png") no-repeat; background-size: cover;   width: 100%;  }
 body.privacy-bg2		{ background:url("../images/static-bg.png") no-repeat; background-size: cover;   width: 100%;  }
/*************************** event-details end***************/
.blue-bg 				{ background: url("../images/header.jpg") no-repeat;  width: 100%; color: #fff;}
.blue-bg ul.navbar-nav li a { color: #fff; }
.margin15 				{ margin: 15px 0px; }
.calendar li a 			{ color: #fff; }
.banner  				{ background: url("../images/Detail-Screen.png") no-repeat; width: 100%; background-size:cover; height: 200px; }
.event-detial-block ul li 	{ display: inline-block;  }
.event-detial-block ul li a i { color: #fff; }
.round 					{ padding: 5px 8px; border: 1px solid #fff; border-radius: 50%; }
a.user-profile i		{ color:  #c6c6c8; font-size: 25px;}
.user-profile 			{ margin: 2px; display: block; padding:15px 0px; background: #e3e1e1; border-radius: 50%; text-align: center;}
.set-margin 			{ margin-top: 10px; }

/*--------------------privacy CSS start-------------------- */
.privacy p						{ opacity: 0.7; font-size: 14px; font-family: 'Gotham Rounded'; font-weight: 300; color: #fff; position: relative;padding-bottom: 15px;}
.border-privacy p::after 		{ content: ""; width: 40%; border-bottom: 2px solid #ffffff; left: 0px; bottom: 0px; position: absolute;}
.privacy h1 					{ font-size: 40px;  font-family: 'Gotham Rounded';  font-weight: bold; color: #fff; position: absolute; top:0px; left: 0px; width: 100%;}
.rotate 						{ -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -o-transform: rotate(-90deg);}
.privacy-text 					{ position: relative;}
.privacy-bg::before 			{ background: url(../images/about-us.png) no-repeat; content: "";position: fixed; left: 0px; top: calc(52% - 40%); width: 55px; height: 100%;z-index: 1;}
.privacy-bg1::before 			{ background: url(../images/terms.png) no-repeat; content: "";position: fixed; left: 0px; top: calc(52% - 40%); width: 55px; height: 100%;z-index: 1;}	
.privacy-bg2::before 			{ background: url(../images/text-policy.png) no-repeat; content: "";position: fixed; left: 0px; top: calc(52% - 40%); width: 55px; height: 100%;z-index: 1;}	
.toggle-btn i 					{ font-size: 18px; }
.toggle-btn 	{ background: transparent !important; border: 0px !important; }

/*--------------------privacy CSS end-------------------- */
/******** Middle section CSS End *******/

/***** Bottom section CSS Start *******/
footer							{ position: absolute; bottom: 0px; width: 100%; }
.tab-nav ul li					{ display: inline-block; padding: 15px; text-align: center;}
.tab-nav ul li a i 				{ color: #989ca1; font-size: 20px; }
.tab-nav ul 					{ border-top: 1px solid #989ca1; }
.tab-nav ul li 					{ border-right: 1px solid #989ca1; }
.tab-nav ul li:last-child		{ border-right: 0px; }
.tab-nav ul li a 				{ padding: 15px; text-align: center;}
/****** Bottom section CSS End *******/

@media (min-width:361px) and (max-width: 375px){
	.event-detial-block h1 		{ font-size: 18px;}
	.table-content legend 		{ font-size: 18px;}
}
@media (max-width:360px)
{
	.event-list-item h2 	{ font-size: 12px;}
	.details-logo 			{ width: 60px; height: 60px;}
	.details-logo h1 		{ font-size: 30px;}
	.event-detial-block h1  { font-size: 14px;}
	.review a 				{ font-size: 10px;}
	.table-content legend   { font-size: 16px;}
	.like-star .icon 		{ font-size: 12px;}
	.promo-border 			{ border-right: 0px;}
	.address-block .label 	{ font-size: 14px;}
	.call-no 				{ font-size: 12px;}
	a.user-profile i 		{ font-size: 20px; }
	.promo-code				{ font-size: 12px; padding: 10px 5px; }
}